.announcement {
  display: grid;
  grid-column: center-start / center-end;
  grid-auto-flow: row;
  margin-top: 2rem;
  color: #155724;
  background-color: #d4edda;
  font-size: 1.4rem;
  padding: .75rem 1.25rem;
  border: 1px solid #c3e6cb;
  border-radius: .25rem;
}

.announcement-url:link,
.announcement-url:visited {
  color: var(--color-link);
  text-decoration: none;
}

.contributions {
  display: grid;
  grid-column: center-start / center-end;
}

.contribution {
  display: none;
  grid-template-columns: 5rem 1fr 5rem 5rem .5rem;

  &--without-score {
    grid-template-columns: 5rem 1fr 5rem .5rem;
  }
  background-color: var(--color-contribution);
  border-bottom: 1px solid var(--color-contribution-border);
  border-left: 1px solid var(--color-contribution-border);
  border-right: 1px solid var(--color-contribution-border);
  height: 6.4rem;
  padding-left: .8rem;

  &__status {
    cursor: pointer;
    display: grid;
    justify-content: center;
    align-items: center;
    border-left: 1px solid var(--color-contribution-border);
    border-bottom: 1px solid var(--color-contribution-border);
  }

  &__status--will-expire {
    background-color: var(--color-not-under-review);
  }

  &__status--nearing-expiration {
    background-color: var(--color-nearing-expiration);
  }

  &__status--under-review {
    background-color: var(--color-under-review);
  }

  &__status--not-under-review {
    background-color: var(--color-not-under-review);
  }

  &__body {
    display: grid;
    padding-top: 1rem;
    padding-left: .8rem;
    padding-bottom: 1rem;
    grid-gap: .5rem;
    height: inherit;
    grid-template-rows: 1fr 1fr;
  }

  &__author {
    display: grid;
    justify-content: center;
    align-items: center;

    &--queue {
      display: grid;
      padding-left: .5rem;
      justify-content: center;
      align-items: center;
      grid-template-columns: 1fr 1fr;
      grid-gap: .5rem;
    }
  }

  &__category {
    display: grid;
    justify-content: center;
    align-items: center;
  }

  &__score:link,
  &__score:visited {
    text-decoration: none;
    color: var(--color-header);
    display: grid;
    justify-content: center;
    align-items: center;
  }
}

/* ---------------------------------------------------------------------------- */
/* Progress circle adapted from https://blog.greggant.com/posts/2017/10/23/pure-css-scss-circular-progress-bar.html */

$borderWidth: .3rem;
$animationTime: 0.5s;
$border-color-default: #eee;
$highScoreColor: #2ecc71;
$mediumHighScoreColor: #FFDC00;
$mediumLowScoreColor: #f39c12;
$lowScoreColor: #e74c3c;
$size: 4rem;
$howManySteps: 100;

.progress {
  width: $size;
  height: $size;
  line-height: $size;
  background: none;
  margin: 0 auto;
  box-shadow: none;
  position: relative;

  &:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: $borderWidth solid $border-color-default;
    position: absolute;
    top: 0;
    left: 0;
  }

  > span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
  }

  .progress-left {
    left: 0;
  }

  .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: $borderWidth;
    border-style: solid;
    position: absolute;
    top: 0;
    &--low {
      border-color: $lowScoreColor;
    }
    &--medium-low {
      border-color: $mediumLowScoreColor;
    }
    &--medium-high {
      border-color: $mediumHighScoreColor;
    }
    &--high {
      border-color: $highScoreColor;
    }
  }

  .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: ($size/2);;
    border-bottom-right-radius: ($size/2);;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
  }

  .progress-right {
    right: 0;
    .progress-bar {
      left: -100%;
      border-top-left-radius: ($size/2);;
      border-bottom-left-radius: ($size/2);;
      border-right: 0;
      -webkit-transform-origin: center right;
      transform-origin: center right;
    }
  }

  .progress-value {
    display: flex;
    border-radius: 50%;
    font-size: 1.4rem;
    text-align: center;
    line-height: 20px;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}

@for $i from 1 through $howManySteps {
	$stepName: ($i*(100 / $howManySteps));

	@if $i <= ($howManySteps/2) {
		.progress[data-percentage="#{$stepName}"] {
			.progress-right .progress-bar {
				 animation: loading-#{$i} $animationTime linear forwards;
			}
			.progress-left .progress-bar {animation: 0;}
		}
	}
	@if $i > ($howManySteps/2)  {
		.progress[data-percentage="#{$stepName}"] {
			.progress-right .progress-bar {
				animation: loading-#{($howManySteps/2)} $animationTime linear forwards;
			}
			.progress-left .progress-bar {
      animation: loading-#{$i - ($howManySteps/2)} $animationTime linear forwards $animationTime;
    }
		}
	}
}

@for $i from 1 through ($howManySteps/2) {
	$degrees: (180/($howManySteps/2));
	$degrees: ($degrees*$i);
	@keyframes loading-#{$i}{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate($degrees);
			transform: rotate(#{$degrees}deg);
    }
	}
}

/* ---------------------------------------------------------------------------- */

.show {
  display: grid;
}

.body-half {
  display: flex;
  align-items: center;
}

.contribution-url:link,
.contribution-url:visited {
  color: var(--color-contribution-url);
  text-decoration: none;
  line-height: 1.5;
  font-weight: 600;
  font-size: 1.4rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.contribution-repository:link,
.contribution-repository:visited {
  color: var(--color-link);
  text-decoration: none;
  font-size: 1.2rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.contribution-url:hover,
.contribution-repository:hover {
  color: var(--color-contribution-url-hover);
  text-decoration: underline;
}

.contribution-avatar {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  overflow: hidden;

  &--image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.contribution-submitted {
  cursor: pointer;
  padding-left: .3rem;
  font-size: 1.2rem;
  color: var(--color-contribution-repository);

  &--nopadding {
    padding-left: 0;
  }
}

.category-icon {
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
  fill: currentColor;
  display: grid;

  &--utopian-io {
    width: 4rem;
    height: 4rem;
  }
}

.status-icon {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  fill: currentColor;
}

.author-url {
  display: grid;
  justify-content: center;
  align-items: center;
}

.statistics {
  margin-top: 4rem;
  display: grid;
  grid-column: center-start / center-end;
  grid-gap: 2rem;
  grid-template-areas:
    "number-contributions recharge-time voting-power filter-element filter-element filter-element";
  grid-template-columns: 1fr 1fr 1fr 8fr;
  font-size: 1.6rem;
  background-color: var(--color-background);
  border-bottom: 1px solid var(--color-contribution-border);

  &--singular {
    &>.statistics-element {
      justify-content: flex-start;
      padding-left: 2rem;
    }
  }
}

.statistics-element {
  display: grid;
  grid-template-columns: min-content min-content;
  grid-gap: .5rem;
  align-items: center;
  justify-content: center;
}

.category-filter {
  display: grid;
  grid-template-columns: repeat(14, minmax(max-content, 1fr));
  align-items: center;
  justify-content: flex-end;
}

.filter-button {
  height: 3.5rem;
  display: grid;
  justify-content: center;
  align-items: center;

  background-color: white;
  border-left: 1px solid var(--color-contribution-border);
  border-top: 1px solid var(--color-contribution-border);

  &:first-child {
    border-radius: .25rem 0;
  }

  &:last-child {
    border-right: 1px solid var(--color-contribution-border);
    margin-right: .5rem;
    border-radius: 0 .25rem;
  }
}

.filter-button.category--inactive {
  background-color: #ededed;
}

.recharge {
  &--high {
    color: #db524c;
  }

  &--average {
    color: orange;
  }

  &--low {
    color: #2ECC40;
  }
}

.contribution-header-icon {
  display: grid;
  width: 1.6rem;
  height: 1.6rem;
  margin-bottom: .35rem;
  cursor: pointer;
}

.contribution-header-text {
  display: grid;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .progress-value {
    font-size: 2.5rem !important;
  }

  .announcement {
    font-size: 2rem;
  }

  .contribution-repository:link,
  .contribution-repository:visited {
    font-size: 2rem;
  }

  .contribution-url:link,
  .contribution-url:visited {
    font-size: 2.4rem;
  }

  .contribution-avatar {
    height: 6rem;
    width: 6rem;
  }

  .body-half {
    max-width: 70vw;
  }

  .contribution {
    width: 100vw;
    height: 12rem;
    grid-gap: 1rem;
    padding-left: 2rem;

    &__body {
      padding-left: 6rem;
    }

    &__author {
      &--queue {
        padding-left: 4.5rem;
        font-size: 1.5rem;
      }
    }
  }

  .category-icon {
    width: 5rem;
    height: 5rem;
  }

  .contribution-submitted {
    font-size: 2rem;
  }

  .statistics {
    grid-template-areas:
      "number-contributions recharge-time voting-power"
      "filter-element filter-element filter-element";
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 3rem;

    &--singular {
      grid-template-areas:
        "recharge-time number-contributions voting-power"
        "filter-element filter-element filter-element";
      & > .statistics-element {
        justify-content: center;
      }
    }
  }

  .statistics-element {
    grid-gap: 1rem;
    margin-bottom: 1rem;
  }

  .contribution-header-icon {
    width: 3rem;
    height: 3rem;
    fill: currentColor;
  }

  .filter-button {
    height: 7rem;

    &:first-child,
    &:nth-child(8) {
      border-left: none;
      border-radius: 0;
    }
    &:last-child {
      border-right: none;
      border-radius: 0;
      margin-right: 0rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .category-filter {
    grid-template-columns: repeat(7, minmax(max-content, 1fr));
  }

  .contribution-repository:link,
  .contribution-repository:visited {
    font-size: 1.8rem;
    max-width: 40vw;
  }

  .contribution-url:link,
  .contribution-url:visited {
    max-width: 58.5vw;
    font-size: 2rem;
  }

  .contribution-avatar {
    height: 5rem;
    width: 5rem;
  }

  .contribution {
    width: 100vw;
    height: 12rem;
    grid-gap: 2rem;
    padding-left: 2rem;

    &__body {
      padding-left: 0rem;
      padding-right: 0rem;
    }

    &__author {
      &--queue {
        padding-left: 0rem;
        font-size: 2rem;
      }
    }
  }

  .category-icon {
    width: 2.8rem;
    height: 2.8rem;
  }

  .contribution-submitted {
    font-size: 1.8rem;
  }

  .statistics {
    grid-template-areas:
    "number-contributions recharge-time voting-power"
    "filter-element filter-element filter-element";
    font-size: 3rem;
  }

  .statistics-element {
    grid-gap: 2rem;
  }

  .contribution-header-icon {
    width: 4rem;
    height: 4rem;
    fill: currentColor;
  }
}

@media screen and (max-width: 420px) {

  .contribution-repository:link,
  .contribution-repository:visited {
    font-size: 2rem;
    max-width: 23rem;
  }

  .contribution-url:link,
  .contribution-url:visited {
    font-size: 2.9rem;
    max-width: 50vw;
  }

  .contribution-avatar {
    height: 5rem;
    width: 5rem;
  }

  .contribution {
    width: 100vw;
    height: 12rem;
    grid-gap: 2rem;
    padding-left: 3.2rem;

    &__body {
      grid-gap: 0rem;
      padding-left: 0rem;
      padding-right: 0rem;
    }

    &__author {
      &--queue {
        padding-left: 0rem;
        font-size: 3rem;
      }
    }
  }

  .category-icon {
    width: 3.5rem;
    height: 3.5rem;
    margin-right: 0rem;
  }

  .contribution-submitted {
    font-size: 2rem;
  }

  .statistics-element {
    grid-gap: 4rem;
  }

  .contribution-header-icon {
    width: 3rem;
    height: 3rem;
    fill: currentColor;
  }
}

@media screen and (max-width: 320px) {
  .contribution {
    grid-template-columns: 5rem 1fr 5rem 3.7rem .5rem;
    padding-left: 2.5rem;
  }
}
