.contributions {
  display: grid;
  grid-column: center-start / center-end;
}

.contributions> :first-child {
  border: 1px solid var(--color-contribution-border);
}

.contribution {
  display: none;
  grid-template-columns: 5rem 1fr 5rem .5rem;
  background-color: var(--color-contribution);
  border-bottom: 1px solid var(--color-contribution-border);
  border-left: 1px solid var(--color-contribution-border);
  border-right: 1px solid var(--color-contribution-border);
  height: 6.4rem;
  padding-left: .8rem;

  &__status {
    cursor: pointer;
    display: grid;
    justify-content: center;
    align-items: center;
    border-left: 1px solid var(--color-contribution-border);
    border-bottom: 1px solid var(--color-contribution-border);
  }

  &__status--nearing-expiration {
    background-color: var(--color-nearing-expiration);
  }

  &__status--under-review {
    background-color: var(--color-under-review);
  }

  &__status--not-under-review {
    background-color: var(--color-not-under-review);
  }

  &__body {
    display: grid;
    padding-top: 1rem;
    padding-left: .8rem;
    padding-bottom: 1rem;
    grid-gap: .5rem;
    height: inherit;
    grid-template-rows: 1fr 1fr;
  }

  &__author {
    display: grid;
    justify-content: center;
    align-items: center;

    &--queue {
      display: grid;
      padding-left: .5rem;
      justify-content: center;
      align-items: center;
      grid-template-columns: 1fr 1fr;
      grid-gap: .5rem;
    }
  }

  &__category {
    display: grid;
    justify-content: center;
    align-items: center;
  }
}

.show {
  display: grid;
}

.body-half {
  display: flex;
  align-items: center;
}

.contribution-url:link,
.contribution-url:visited {
  color: var(--color-contribution-url);
  text-decoration: none;
  line-height: 1.5;
  font-weight: 600;
  font-size: 1.4rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.contribution-repository:link,
.contribution-repository:visited {
  color: var(--color-link);
  text-decoration: none;
  font-size: 1.2rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.contribution-url:hover,
.contribution-repository:hover {
  color: var(--color-contribution-url-hover);
  text-decoration: underline;
}

.contribution-avatar {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  overflow: hidden;

  &--image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.contribution-submitted {
  cursor: pointer;
  padding-left: .3rem;
  font-size: 1.2rem;
  color: var(--color-contribution-repository);

  &--nopadding {
    padding-left: 0;
  }
}

.category-icon {
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
  fill: currentColor;
  display: grid;

  &--utopian-io {
    width: 4rem;
    height: 4rem;
  }
}

.status-icon {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  fill: currentColor;
}

.author-url {
  display: grid;
  justify-content: center;
  align-items: center;
}

.statistics {
  margin-top: 5rem;
  padding: .5rem;
  display: grid;
  grid-column: center-start / center-end;
  grid-gap: 2rem;
  grid-template-columns: repeat(3, max-content) 1fr;
  font-size: 1.6rem;
  background-color: var(--color-background);

  &--singular {
    grid-template-columns: max-content 1fr;
  }
}

.statistics-element {
  display: grid;
  grid-template-columns: min-content min-content;
  grid-gap: .5rem;
  align-items: center;
  justify-content: center;
}

.category-filter {
  display: grid;
  grid-template-columns: repeat(13, max-content);
  align-items: center;
  justify-content: flex-end;
  grid-gap: 2rem;

  // & > :first-child {
  //   border-radius: .5rem 0 0 0;
  //   border-top: 1px solid var(--color-contribution-border);
  //   border-left: 1px solid var(--color-contribution-border);
  //   border-right: 1px solid var(--color-contribution-border);
  // }
}

.recharge {
  &--high {
    color: #db524c;
  }

  &--average {
    color: orange;
  }

  &--low {
    color: #2ECC40;
  }
}

.contribution-header-icon {
  display: grid;
  width: 1.6rem;
  height: 1.6rem;
  margin-bottom: .35rem;
  cursor: pointer;
}

.contribution-header-text {
  display: grid;
  text-align: center;
}

@media screen and (max-width: 1024px) {

  .contribution-repository:link,
  .contribution-repository:visited {
    font-size: 2rem;
  }

  .contribution-url:link,
  .contribution-url:visited {
    font-size: 2.4rem;
  }

  .contribution-avatar {
    height: 6rem;
    width: 6rem;
  }

  .body-half {
    max-width: 70vw;
  }

  .contribution {
    width: 100vw;
    height: 12rem;
    grid-gap: 1rem;
    padding-left: 2rem;

    &__body {
      padding-left: 6rem;
    }

    &__author {
      &--queue {
        padding-left: 4.5rem;
        font-size: 1.5rem;
      }
    }
  }

  .category-icon {
    width: 5rem;
    height: 5rem;
    // margin-right: 6rem;
  }

  .category-filter {
    grid-gap: 1rem;
    justify-content: center;
  }

  .contribution-submitted {
    font-size: 2rem;
  }

  .statistics {
    margin-top: 1rem;
    justify-content: center;
    grid-gap: 4rem;
    font-size: 3rem;
    flex-direction: column;
    display: flex;
  }

  .statistics-element {
    grid-gap: 1rem;
    margin-bottom: 1rem;
  }

  .contribution-header-icon {
    width: 3rem;
    height: 3rem;
    fill: currentColor;
  }
}

@media screen and (max-width: 768px) {

  .contribution-repository:link,
  .contribution-repository:visited {
    font-size: 1.8rem;
    max-width: 40vw;
  }

  .contribution-url:link,
  .contribution-url:visited {
    max-width: 58.5vw;
    font-size: 2rem;
  }

  .contribution-avatar {
    height: 5rem;
    width: 5rem;
  }

  .contribution {
    width: 100vw;
    height: 12rem;
    grid-gap: 2rem;
    padding-left: 2rem;

    &__body {
      padding-left: 0rem;
      padding-right: 0rem;
    }

    &__author {
      &--queue {
        padding-left: 0rem;
        font-size: 2rem;
      }
    }
  }

  .category-icon {
    width: 2.8rem;
    height: 2.8rem;
    // margin-right: 8rem;
  }

  .category-filter {
    justify-content: center;
  }

  .contribution-submitted {
    font-size: 1.8rem;
  }

  .statistics {
    justify-content: center;
    grid-gap: 3rem;
    font-size: 3rem;
    flex-direction: column;
    display: flex;
  }

  .statistics-element {
    grid-gap: 2rem;
  }

  .contribution-header-icon {
    width: 4rem;
    height: 4rem;
    fill: currentColor;
  }
}

@media screen and (max-width: 420px) {

  .contribution-repository:link,
  .contribution-repository:visited {
    font-size: 2rem;
    max-width: 23rem;
  }

  .contribution-url:link,
  .contribution-url:visited {
    font-size: 2.9rem;
    max-width: 50vw;
  }

  .contribution-avatar {
    height: 5rem;
    width: 5rem;
  }

  .contribution {
    width: 100vw;
    height: 12rem;
    grid-gap: 4rem;
    padding-left: 3.2rem;

    &__body {
      grid-gap: 0rem;
      padding-left: 0rem;
      padding-right: 0rem;
    }

    &__author {
      &--queue {
        padding-left: 0rem;
        font-size: 3rem;
      }
    }
  }

  .category-icon {
    width: 3.5rem;
    height: 3.5rem;
    margin-right: 0rem;
  }

  .contribution-submitted {
    font-size: 2rem;
  }

  .statistics {
    justify-content: center;
    grid-gap: 16rem;
    font-size: 6rem;
  }

  .statistics-element {
    grid-gap: 4rem;
  }

  .contribution-header-icon {
    width: 3rem;
    height: 3rem;
    fill: currentColor;
  }
}

.announcement {
  display: grid;
  grid-column: center-start / center-end;
  grid-auto-flow: row;
  margin-top: 2rem;
  color: #155724;
  background-color: #d4edda;
  font-size: 1.4rem;
  padding: .75rem 1.25rem;
  border: 1px solid #c3e6cb;
  border-radius: .25rem;
}

.announcement-url:link,
.announcement-url:visited {
  color: var(--color-link);
  text-decoration: none;
}