.contributions {
  display: grid;
  grid-column: center-start / center-end;
}

.contributions > :first-child {
  border-radius: .25rem .0 0 0;
  border: 1px solid var(--color-contribution-border);
}

.contributions > :last-child {
  border-radius: 0 0 0 .25rem;
}

.contribution {
  display: grid;
  grid-template-columns: 5rem 1fr 5rem .5rem;
  background-color: var(--color-contribution);
  border-bottom: 1px solid var(--color-contribution-border);
  border-left: 1px solid var(--color-contribution-border);
  border-right: 1px solid var(--color-contribution-border);
  height: 6.4rem;
  padding-left: .8rem;

  &__status {
    cursor: pointer;
    display: grid;
    justify-content: center;
    align-items: center;
    border-left: 1px solid var(--color-contribution-border);
    border-bottom: 1px solid var(--color-contribution-border);
  }

  &__status--under-review {
    background-color: var(--color-under-review);
  }
  &__status--not-under-review {
    background-color: var(--color-not-under-review);
  }

  &__body {
    display: grid;
    padding-top: 1rem;
    padding-left: .8rem;
    padding-bottom: 1rem;
    grid-gap: .5rem;
    height: inherit;
    grid-template-rows: 1fr 1fr;
  }

  &__author {
    display: grid;
    justify-content: center;
    align-items: center;

    &--queue {
      display: grid;
      padding-left: .5rem;
      justify-content: center;
      align-items: center;
      grid-template-columns: 1fr 1fr;
      grid-gap: .5rem;
    }
  }

  &__category {
    display: grid;
    justify-content: center;
    align-items: center;
  }
}

.body-half {
  display: flex;
  align-items: center;
}

.contribution-url:link,
.contribution-url:visited {
  color: var(--color-contribution-url);
  text-decoration: none;
  line-height: 1.5;
  font-weight: 600;
  font-size: 1.4rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.contribution-repository:link,
.contribution-repository:visited {
  color: var(--color-link);
  text-decoration: none;
  font-size: 1.2rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.contribution-url:hover,
.contribution-repository:hover {
  color: var(--color-contribution-url-hover);
  text-decoration: underline;
}

.contribution-avatar {
  height: 3rem;
  width: 3rem;
  border-radius: 100%;
}

.contribution-submitted {
  cursor: pointer;
  padding-left: .3rem;
  font-size: 1.2rem;
  color: var(--color-contribution-repository);

  &--nopadding {
    padding-left: 0;
  }
}

.category-icon {
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
  fill: currentColor;
}

.status-icon {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  fill: currentColor;
}

.author-url {
  display: grid;
  justify-content: center;
  align-items: center;
}

.statistics {
  margin-top: 5rem;
  padding-left: .5rem;
  display: grid;
  grid-column: center-start / center-end;
  grid-gap: 2rem;
  grid-template-columns: repeat(3, max-content);
  font-size: 1.6rem;
  background-color: var(--color-background);
}

.statistics-element {
  display: grid;
  grid-template-columns: min-content min-content;
  grid-gap: .5rem;
  align-items: center;
  justify-content: center;
}

.recharge {
  &--high {
    color: #db524c;
  }

  &--average {
    color: orange;
  }

  &--low {
    color: #2ECC40;
  }
}

.contribution-header-icon {
  width: 1.6rem;
  height: 1.6rem;
  margin-bottom: .35rem;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .contribution-repository:link,
  .contribution-repository:visited {
    font-size: 2rem;
  }

  .contribution-url:link,
  .contribution-url:visited {
    font-size: 2.4rem;
  }

  .contribution-avatar {
    height: 6rem;
    width: 6rem;
    margin-left: 6rem;
  }

  .contribution {
    height: 12rem;
    grid-gap: 1rem;
    &__body {
      padding-left: 6rem;
    }
  }

  .category-icon {
    width: 5rem;
    height: 5rem;
    margin-right: 6rem;
  }

  .contribution-submitted {
    font-size: 2rem;
  }

  .statistics {
    justify-content: center;
    grid-gap: 4rem;
    font-size: 3rem;
  }

  .statistics-element {
    grid-gap: 1rem;
  }

  .contribution-header-icon {
    width: 3rem;
    height: 3rem;
    fill: currentColor;
  }
}

@media screen and (max-width: 768px) {
  .contribution-repository:link,
  .contribution-repository:visited {
    font-size: 4rem;
  }

  .contribution-url:link,
  .contribution-url:visited {
    max-width: 220rem;
    font-size: 4.4rem;
  }

  .contribution-avatar {
    height: 12rem;
    width: 12rem;
    margin-left: 12rem;
  }

  .contribution {
    height: 24rem;
    grid-gap: 2rem;
    &__body {
      padding-left: 12rem;
      padding-right: 10rem;
    }
  }

  .category-icon {
    width: 10rem;
    height: 10rem;
    margin-right: 8rem;
  }

  .contribution-submitted {
    font-size: 4rem;
  }

  .statistics {
    justify-content: center;
    grid-gap: 8rem;
    font-size: 6rem;
  }
  .statistics-element {
    grid-gap: 2rem;
  }

  .contribution-header-icon {
    width: 6rem;
    height: 6rem;
    fill: currentColor;
  }
}

@media screen and (max-width: 420px) {
  .contribution-repository:link,
  .contribution-repository:visited {
    font-size: 6rem;
    max-width: 80rem;
  }

  .contribution-url:link,
  .contribution-url:visited {
    font-size: 8rem;
    max-width: 120rem;
  }

  .contribution-avatar {
    height: 18rem;
    width: 18rem;
    margin-left: 18rem;
  }

  .contribution {
    height: 36rem;
    grid-gap: 4rem;
    &__body {
      grid-gap: 0rem;
      padding-left: 18rem;
      padding-right: 10rem;
    }
  }

  .category-icon {
    width: 12rem;
    height: 12rem;
    margin-right: 12rem;
  }

  .contribution-submitted {
    font-size: 5rem;
  }

  .statistics {
    justify-content: center;
    grid-gap: 16rem;
    font-size: 12rem;
  }
  .statistics-element {
    grid-gap: 4rem;
  }

  .contribution-header-icon {
    width: 6rem;
    height: 6rem;
    fill: currentColor;
  }
}