.header {
  background-color: var(--color-header);
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: [header-start]
    3fr
    [header-center-start]
    7.5fr
    [header-center-end]
    3fr 
    [header-end];
  color: var(--color-grey-light-1);
  font-size: 2rem;
  height: 6rem;
}

.header-image {
  display: grid;
  height: 100%;
  margin-left: 2rem;
  align-items: center;

  & > img {
    height: 4.5rem;
    width: 4.5rem;
  }
}

.header-center {
  display: grid;
  grid-column: header-center-start / header-center-end;
  grid-template-columns: max-content max-content max-content;
  grid-gap: 1.5rem;
  align-items: center;

  &--link:link,
  &--link:visited {
    text-decoration: none;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 2.1rem;
    color: var(--color-grey-light-1);
    display: inline-block;
  }

  &--link:hover {
    color: var(--color-grey-light-4);
  }

  &--link--active {
    color: var(--color-grey-light-4) !important;
  }
}