.header {
  background-color: var(--color-header);
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: [header-start]
    minmax(6rem, 1fr)
    [header-center-start]
    3fr
    [header-center-end]
    minmax(6rem, 1fr) 
    [header-end];
  padding: 1.25rem 2rem;
  color: var(--color-grey-light-1);
  font-size: 2rem;
  height: 6rem;
}

.header-center {
  display: grid;
  grid-column: header-center-start / header-center-end;
  grid-template-columns: max-content max-content max-content;
  grid-gap: 1.5rem;
  align-items: center;

  &--link {
    text-decoration: none;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 2.1rem;
    color: var(--color-grey-light-1);
    display: inline-block;
  }

  &--link:hover {
    color: var(--color-grey-light-4);
  }
}