.sidebar {
  background-color: var(--color-grey-dark-1);
  grid-column: sidebar-start / sidebar-end;
  grid-row: 2 / -1;
}

.side-nav {
  font-size: 1.4rem;
  list-style: none;
  display: grid;
  margin-top: 1rem;
  grid-gap: 1rem;

  &__item {
    position: relative;
  }

  &__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: .3rem;
    background-color: var(--color-grey-dark-3);
    transform: scaleY(0);
    transition: transform .2s, 
      width .4s cubic-bezier(1,0,0,1) .2s,
      background-color .1s;
  }

  &__item:hover::before,
  &__item--active::before {
    transform: scaleY(1);
    width: 100%;
  }

  &__item:active::before {
    background-color: var(--color-grey-dark-2);
  }

  &__link:link,
  &__link:visited {
    position: relative;
    z-index: 1;
    color: var(--color-grey-light-1);
    text-decoration: none;
    padding: 1.25rem 3rem;
    display: flex;
    align-content: center;
  }

  &__icon {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
    fill: currentColor;
  }
}