{% extends "base.html" %}
{% set active_page = "contributor" %}
{% block content %}
<div class="profile">
  <div class="profile-header">
    <figure class="profile-header__figure">
      <img src="https://steemitimages.com/u/{{username}}/avatar" alt="Moderator's profile picture" class="profile-header__image">
      {% if username in moderators %}
      <a href="{{url_for('moderator', username=username)}}" class="profile-header__link">
        <span class="profile-header__text">{{username}}</span>
      </a>
      <span class="profile-header__text">Moderator</span>
      {% else %}
      <span class="profile-header__text">{{username}}</span>
      {% endif %}
    </figure>
    <div class="profile-header__information">
      <div class="profile-header__top">
        <div class="profile-header__header">
            Reviewed
            <h3 class="heading-3">
              {{accepted + rejected}}
            </h3>
          </div>
        <div class="profile-header__header">
          Accepted
          <h3 class="heading-3">
            {{accepted}}
          </h3>
        </div>
        <div class="profile-header__header">
          Rejected
          <h3 class="heading-3">
            {{rejected}}
          </h3>
        </div>
        <div class="profile-header__header">
          %
          <h3 class="heading-3">
            {{"{:.1f}".format(percentage)}}
          </h3>
        </div>
      </div>
      
      <div class="profile-header__bottom">
        <div class="profile-header__header">
          Contributing since
          <h3 class="heading-3">
            {{since}}
          </h3>
        </div>
        <div class="profile-header__header">
          Contributing in categories
          <h3 class="heading-3">
            {{", ".join(categories)}}
          </h3>
        </div>
      </div>
    </div>
  </div>
  <div class="profile-body">
    <ul class="profile-nav">
      <li class="profile-nav__item">
        <a href="{{ url_for('moderator', username=username) }}" class="profile-nav__link">
          Reviews
        </a>
      </li>
      <li class="profile-nav__item">
        <a href="{{ url_for('contributor_moderators', username=username) }}" class="profile-nav__link">
          Moderators
        </a>
      </li>
    </ul>

    <div class="profile-body__content">
      {% block profile_content %}{% endblock %}
    </div>
  </div>
</div>
{% endblock %}