{% extends "moderator/index.html" %}
{% block profile_content %}
{% for category in category_performance %}
<div class="profile-categories">
    <div class="profile-categories__category--{{category.category}}" title="{{category.category.replace("-", " ").title()}}"></div>
    <div class="profile-categories__item">{{category.total}}</div>
    <div class="profile-categories__item">{{category.accepted}}</div>
    <div class="profile-categories__item">{{category.rejected}}</div>
    <div class="profile-categories__item">{{category.percentage|round|int}}%</div>
</div>
{% endfor %}
{% endblock %}