{% extends "base.html" %}
{% block content %}
<div class="profile">
  <div class="profile-header">
    <figure class="profile-header__figure">
      <img src="https://steemitimages.com/u/{{username}}/avatar" alt="Moderator's profile picture" class="profile-header__image">
      <span class="profile-header__text">{{username}}</span>
      <span class="profile-header__text">...</span>
    </figure>
  </div>
  <div class="profile-body">
    <ul class="profile-nav">
      <li class="profile-nav__item">
        <a href="#" class="profile-nav__link">
          Reviews
        </a>
      </li>
      <li class="profile-nav__item">
        <a href="#" class="profile-nav__link">
          Activity
        </a>
      </li>
      <li class="profile-nav__item">
        <a href="#" class="profile-nav__link">
          Contributors
        </a>
      </li>
      <li class="profile-nav__item">
        <a href="#" class="profile-nav__link">
          ???
        </a>
      </li>
    </ul>

    <div class="profile-body__content" id="reviews">
      {% include "moderator/reviews.html" %}
    </div>
  </div>
</div>
{{script|safe}}
{% endblock %}