# virtualenv
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Distribution
dist/
*.egg-info/
build/

# Sphinx documentation
docs/_build/
docs/_static/
docs/_templates/

test.py
test2.py
test.html

.vscode/
node_modules/

*.json
*.log