.supervisor {
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
    width: 100%;
    padding-left: 10px;
    color: white;
    font-size: 18px;
    font-weight: 900;
    cursor: pointer;
}

div.overview::before {
    font-size: 1.5em;
    font-family: "Material Icons";
    content: "\E8D3";
    font-weight: 400;
    padding-right: 5px;
}

.overview {
    background-color: #7954A7;
}

div.ideas::before {
    font-size: 1.5em;
    font-family: "Material Icons";
    content: "\E90F";
    font-weight: 400;
    padding-right: 5px;
}

.ideas {
    background-color: #54d2a0;
}

div.development::before {
    font-size: 1.5em;
    font-family: "Material Icons";
    content: "\E86F";
    font-weight: 400;
    padding-right: 5px;
}

.development {
    background-color: #000;
}

div.bug-hunting::before {
    font-size: 1.5em;
    font-family: "Material Icons";
    content: "\E868";
    font-weight: 400;
    padding-right: 5px;
}

.bug-hunting {
    background-color: #d9534f;
}

div.translations::before {
    font-size: 1.5em;
    font-family: "Material Icons";
    content: "\E8E2";
    font-weight: 400;
    padding-right: 5px;
}

.translations {
    background-color: #ffce3d;
}

div.graphics::before {
    font-size: 1.5em;
    font-family: "Material Icons";
    content: "\E069";
    font-weight: 400;
    padding-right: 5px;
}

.graphics {
    background-color: #f6a623;
}

div.analysis::before {
    font-size: 1.5em;
    font-family: "Material Icons";
    content: "\E24B";
    font-weight: 400;
    padding-right: 5px;
}

.analysis {
    background-color: #164265;
}

div.social::before {
    font-size: 1.5em;
    font-family: "Material Icons";
    content: "\E80D";
    font-weight: 400;
    padding-right: 5px;
}

.social {
    background-color: #7ec2f3;
}

div.documentation::before {
    font-size: 1.5em;
    font-family: "Material Icons";
    content: "\E85D";
    font-weight: 400;
    padding-right: 5px;
}

.documentation {
    background-color: #b1b1b1;
}

div.tutorials::before {
    font-size: 1.5em;
    font-family: "Material Icons";
    content: "\E0C6";
    font-weight: 400;
    padding-right: 5px;
}

.tutorials {
    background-color: #782c51;
}

div.video-tutorials::before {
    font-size: 1.5em;
    font-family: "Material Icons";
    content: "\E63A";
    font-weight: 400;
    padding-right: 5px;
}

.video-tutorials {
    background-color: #ec3324;
}

div.copywriting::before {
    font-size: 1.5em;
    font-family: "Material Icons";
    content: "\E0D8";
    font-weight: 400;
    padding-right: 5px;
}

.copywriting {
    background-color: teal;
}

div.blog::before {
    font-size: 1.5em;
    font-family: "Material Icons";
    content: "\E02F";
    font-weight: 400;
    padding-right: 5px;
}

.blog {
    background-color: #0275d8;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 30px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}