:root {
  --color-white: #fff;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #dfdfdf;
  --color-grey-light-5: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --color-black-1: #24292e;
  --color-home: #7483a5;
  --color-link: #4b7dc0;
  --color-suggestions: #54d2a0;
  --color-development: #000;
  --color-bug-hunting: #d9534f;
  --color-translation: #ffce3d;
  --color-graphics: #f6a623;
  --color-analysis: #164265;
  --color-visibility: #7ec2f3;
  --color-documentation: #b1b1b1;
  --color-tutorials: #782c51;
  --color-video-tutorials: #ec3324;
  --color-copywriting: teal;
  --color-blog: #0275d8;
  --color-accepted: #2ecc71;
  --color-rejected: #e74c3c; }

* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  outline: none; }

.container {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  grid-template-columns: [full-start] minmax(3rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(3rem, 1fr) [full-end]; }

.header-1, .header-3 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: inherit; }

.header-1 {
  font-size: 6rem; }

.header-3 {
  font-size: 3rem;
  margin: 1rem 0; }
  .header-3--bold {
    font-weight: 700;
    letter-spacing: .2rem; }

.category-circle {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 8rem;
  background-color: var(--color-white);
  border-radius: 50%;
  border: 1px solid var(--color-grey-light-4);
  transition: background .3s ease, border-color .3s ease, transform .3s ease;
  text-decoration: none;
  outline: 0; }
  .category-circle:hover {
    transform: scale(1.1);
    border-color: transparent;
    color: var(--color-white) !important; }
  .category-circle--analysis:link, .category-circle--analysis:visited {
    color: var(--color-analysis); }
  .category-circle--analysis:hover {
    background: var(--color-analysis); }
  .category-circle--blog:link, .category-circle--blog:visited {
    color: var(--color-blog); }
  .category-circle--blog:hover {
    background: var(--color-blog); }
  .category-circle--bug-hunting:link, .category-circle--bug-hunting:visited {
    color: var(--color-bug-hunting); }
  .category-circle--bug-hunting:hover {
    background: var(--color-bug-hunting); }
  .category-circle--copywriting:link, .category-circle--copywriting:visited {
    color: var(--color-copywriting); }
  .category-circle--copywriting:hover {
    background: var(--color-copywriting); }
  .category-circle--development:link, .category-circle--development:visited {
    color: var(--color-development); }
  .category-circle--development:hover {
    background: var(--color-development); }
  .category-circle--documentation:link, .category-circle--documentation:visited {
    color: var(--color-documentation); }
  .category-circle--documentation:hover {
    background: var(--color-documentation); }
  .category-circle--graphics:link, .category-circle--graphics:visited {
    color: var(--color-graphics); }
  .category-circle--graphics:hover {
    background: var(--color-graphics); }
  .category-circle--suggestions:link, .category-circle--suggestions:visited {
    color: var(--color-suggestions); }
  .category-circle--suggestions:hover {
    background: var(--color-suggestions); }
  .category-circle--translation:link, .category-circle--translation:visited {
    color: var(--color-translation); }
  .category-circle--translation:hover {
    background: var(--color-translation); }
  .category-circle--tutorials:link, .category-circle--tutorials:visited {
    color: var(--color-tutorials); }
  .category-circle--tutorials:hover {
    background: var(--color-tutorials); }
  .category-circle--video-tutorials:link, .category-circle--video-tutorials:visited {
    color: var(--color-video-tutorials); }
  .category-circle--video-tutorials:hover {
    background: var(--color-video-tutorials); }
  .category-circle--visibility:link, .category-circle--visibility:visited {
    color: var(--color-visibility); }
  .category-circle--visibility:hover {
    background: var(--color-visibility); }

.category-icon {
  transition: fill .3s ease;
  width: 3.5rem;
  fill: currentColor; }

a:link,
a:visited {
  text-decoration: none; }

.analysis {
  background: var(--color-analysis); }

.blog {
  background: var(--color-blog); }

.bug-hunting {
  background: var(--color-bug-hunting); }

.copywriting {
  background: var(--color-copywriting); }

.development {
  background: var(--color-development); }

.documentation {
  background: var(--color-documentation); }

.graphics {
  background: var(--color-graphics); }

.suggestions {
  background: var(--color-suggestions); }

.translation {
  background: var(--color-translation); }

.tutorials {
  background: var(--color-tutorials); }

.video-tutorials {
  background: var(--color-video-tutorials); }

.visibility {
  background: var(--color-visibility); }

.moderator-card {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  box-shadow: 0 0.5rem 0.75rem rgba(0, 0, 0, 0.3);
  font-size: 1.6rem;
  margin: 1rem; }
  .moderator-card__category {
    display: grid;
    grid-template-columns: min-content 1fr;
    justify-content: start;
    align-items: center;
    text-align: start;
    border-top-left-radius: .4rem;
    border-top-right-radius: .4rem;
    color: var(--color-grey-light-1); }
  .moderator-card__profile {
    display: grid;
    justify-content: center;
    padding: 2.5rem 5rem;
    background-color: var(--color-grey-light-1);
    text-align: center; }
  .moderator-card__statistics {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    color: var(--color-grey-dark-1);
    background-color: var(--color-grey-light-2);
    border-bottom-left-radius: .4rem;
    border-bottom-right-radius: .4rem;
    padding-right: 1rem; }
  .moderator-card__image {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    margin-bottom: 1rem; }
  .moderator-card__icon {
    width: 2.25rem;
    height: 2.25rem;
    margin: 1rem;
    fill: currentColor; }
    .moderator-card__icon--small {
      width: 1.5rem;
      height: 1.5rem;
      margin: 1rem;
      fill: currentColor; }
  .moderator-card__link:link, .moderator-card__link:visited {
    text-decoration: none;
    color: var(--color-link); }

.statistics-left {
  display: flex;
  align-items: center; }

.statistics-right {
  display: flex;
  align-items: center;
  justify-content: right; }

.project-card {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  box-shadow: 0 0.5rem 0.75rem rgba(0, 0, 0, 0.3);
  font-size: 1.6rem;
  margin: 1rem; }
  .project-card__project {
    display: grid;
    grid-template-columns: min-content 1fr;
    justify-content: start;
    align-items: center;
    text-align: start;
    border-top-left-radius: .4rem;
    border-top-right-radius: .4rem; }
  .project-card__profile {
    display: grid;
    justify-content: center;
    padding: 2.5rem 5rem;
    background-color: var(--color-grey-light-1);
    text-align: center;
    background-image: url("img/header.jpg");
    background-size: cover;
    background-position: center center; }
  .project-card__statistics {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    color: var(--color-grey-dark-1);
    background-color: var(--color-grey-light-2);
    border-bottom-left-radius: .4rem;
    border-bottom-right-radius: .4rem;
    padding-right: 1rem; }
  .project-card__image {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    margin-bottom: 1rem; }
  .project-card__icon {
    width: 2.25rem;
    height: 2.25rem;
    margin: 1rem;
    fill: var(--color-grey-dark-1); }
    .project-card__icon--small {
      width: 1.5rem;
      height: 1.5rem;
      margin: 1rem;
      fill: currentColor; }
  .project-card__link:link, .project-card__link:visited {
    text-decoration: none;
    color: var(--color-link); }

.statistics-left {
  display: flex;
  align-items: center; }

.statistics-right {
  display: flex;
  align-items: center;
  justify-content: right; }

.footer {
  grid-column: full-start / full-end;
  padding: 1.2rem 1.6rem;
  border-top: 1px solid var(--color-grey-light-2); }

.header {
  background-color: var(--color-black-1);
  grid-column: full-start / full-end;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem; }

.home {
  display: grid;
  grid-column: 1 / -1;
  grid-template-rows: 80vh 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: [full-start] minmax(3rem, 1fr) [center-start] 8fr [center-end] minmax(3rem, 1fr) [full-end]; }

.home-header {
  display: grid;
  grid-column: full-start / full-end;
  align-items: center;
  text-align: center;
  background-size: cover;
  background-image: url("img/header.jpg");
  background-position: center center;
  color: var(--color-grey-light-1); }

.home-categories {
  margin: 10rem 0;
  display: grid;
  grid-gap: 5rem;
  grid-column: center-start / center-end;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  font-size: 1.2rem; }
  .home-categories__text {
    color: var(--color-grey-dark-1); }
  .home-categories__paragraph {
    font-size: 2rem;
    color: var(--color-home); }
  .home-categories__categories {
    display: grid;
    grid-gap: .5rem;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr)); }
  .home-categories__category {
    display: grid;
    grid-gap: .5rem;
    justify-content: center;
    align-items: center;
    text-align: center; }

.home-managers {
  display: grid;
  grid-column: center-start / center-end;
  align-items: center; }
  .home-managers__slick {
    width: 80vw; }

.home-moderators {
  display: grid;
  grid-column: center-start / center-end;
  align-items: center; }
  .home-moderators__slick {
    width: 80vw; }

.home-contributors {
  display: grid;
  grid-column: center-start / center-end;
  align-items: center; }
  .home-contributors__slick {
    width: 80vw; }

.home-projects {
  display: grid;
  grid-column: center-start / center-end;
  align-items: center; }
  .home-projects__slick {
    width: 80vw; }

.slick-dots li.slick-active {
  transform: scale(2);
  transition: transform 0.3s ease; }

button::-moz-focus-inner {
  border: 0; }

.slick-arrow:before {
  color: #888 !important;
  transition: opacity 0.3s ease; }
