html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
}

div.supervisor {
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
    width: 100%;
    padding-left: 10px;
    color: white;
    font-size: 18px;
    font-weight: 900;
    cursor: pointer;
}

div.supervisor.total::before {
    font-size: 1.5em;
    font-family: "Material Icons";
    content: "\E7FC";
    font-weight: 400;
    padding-right: 5px;
}

div.supervisor.total {
    background-color: #7954A7;
}

div.supervisor.all::before {
    font-size: 1.5em;
    font-family: "Material Icons";
    content: "\E7FC";
    font-weight: 400;
    padding-right: 5px;
}

div.supervisor.all {
    background-color: #7954A7;
}

div.supervisor.overview::before {
    font-size: 1.5em;
    font-family: "Material Icons";
    content: "\E8D3";
    font-weight: 400;
    padding-right: 5px;
}

div.supervisor.overview {
    background-color: #7954A7;
}

div.supervisor.ideas::before {
    font-size: 1.5em;
    font-family: "Material Icons";
    content: "\E90F";
    font-weight: 400;
    padding-right: 5px;
}

div.supervisor.ideas {
    background-color: #54d2a0;
}

div.supervisor.development::before {
    font-size: 1.5em;
    font-family: "Material Icons";
    content: "\E86F";
    font-weight: 400;
    padding-right: 5px;
}

div.supervisor.development {
    background-color: #000;
}

div.supervisor.bug-hunting::before {
    font-size: 1.5em;
    font-family: "Material Icons";
    content: "\E868";
    font-weight: 400;
    padding-right: 5px;
}

div.supervisor.bug-hunting {
    background-color: #d9534f;
}

div.supervisor.translations::before {
    font-size: 1.5em;
    font-family: "Material Icons";
    content: "\E8E2";
    font-weight: 400;
    padding-right: 5px;
}

div.supervisor.translations {
    background-color: #ffce3d;
}

div.supervisor.graphics::before {
    font-size: 1.5em;
    font-family: "Material Icons";
    content: "\E069";
    font-weight: 400;
    padding-right: 5px;
}

div.supervisor.graphics {
    background-color: #f6a623;
}

div.supervisor.analysis::before {
    font-size: 1.5em;
    font-family: "Material Icons";
    content: "\E24B";
    font-weight: 400;
    padding-right: 5px;
}

div.supervisor.analysis {
    background-color: #164265;
}

div.supervisor.social::before {
    font-size: 1.5em;
    font-family: "Material Icons";
    content: "\E80D";
    font-weight: 400;
    padding-right: 5px;
}

div.supervisor.social {
    background-color: #7ec2f3;
}

div.supervisor.documentation::before {
    font-size: 1.5em;
    font-family: "Material Icons";
    content: "\E85D";
    font-weight: 400;
    padding-right: 5px;
}

div.supervisor.documentation {
    background-color: #b1b1b1;
}

div.supervisor.tutorials::before {
    font-size: 1.5em;
    font-family: "Material Icons";
    content: "\E0C6";
    font-weight: 400;
    padding-right: 5px;
}

div.supervisor.tutorials {
    background-color: #782c51;
}

div.supervisor.video-tutorials::before {
    font-size: 1.5em;
    font-family: "Material Icons";
    content: "\E63A";
    font-weight: 400;
    padding-right: 5px;
}

div.supervisor.video-tutorials {
    background-color: #ec3324;
}

div.supervisor.copywriting::before {
    font-size: 1.5em;
    font-family: "Material Icons";
    content: "\E0D8";
    font-weight: 400;
    padding-right: 5px;
}

div.supervisor.copywriting {
    background-color: teal;
}

div.supervisor.blog::before {
    font-size: 1.5em;
    font-family: "Material Icons";
    content: "\E02F";
    font-weight: 400;
    padding-right: 5px;
}

div.supervisor.blog {
    background-color: #0275d8;
}

div.row.plot {
    height: 400px;
    margin-bottom: 20px;
}

div.leaderboard-header {
    background-color: purple;
    color: white;
    padding: 10px;
    height: 4em;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

div.row.category {
    padding-top: 150px;
}

div.categories {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

div.categories.active {
    background: #ddd1e7;
}

div.categories:hover {
    background: #ddd1e7;
}

.leaderboard {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 220px;
    height: 300px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: -webkit-gradient(linear, left top, left bottom, from(#3a404d), to(#181c26));
    background: linear-gradient(to bottom, #3a404d, #181c26);
    -webkit-box-shadow: 0 7px 30px rgba(62, 9, 11, 0.3);
            box-shadow: 0 7px 30px rgba(62, 9, 11, 0.3);
  }
.leaderboard h1 {
    font-size: 14px;
    color: #e1e1e1;
    padding-left: 5px;
}
.leaderboard i {
    width: 25px;
    height: 26px;
    position: relative;
    top: 3px;
    margin-right: 6px;
    vertical-align: baseline;
}
.leaderboard ol {
    counter-reset: leaderboard;
}
.leaderboard ol li {
    position: relative;
    z-index: 1;
    font-size: 14px;
    counter-increment: leaderboard;
    padding: 18px 10px 18px 50px;
    cursor: pointer;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1, 1);
            transform: translateZ(0) scale(1, 1);
}
.leaderboard ol li::before {
    content: counter(leaderboard);
    position: absolute;
    z-index: 2;
    top: 15px;
    left: 15px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    color: #551a8b;
    background: #fff;
    border-radius: 20px;
    text-align: center;
}
.leaderboard ol li mark {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 18px 10px 18px 50px;
    margin: 0;
    background: none;
    color: #fff;
}

.leaderboard ol li small {
    position: relative;
    z-index: 2;
    display: block;
    text-align: right;
}
.leaderboard ol li:nth-child(1) {
    background: #9975b9;
}
.leaderboard ol li:nth-child(2) {
    background: #885ead;
}
.leaderboard ol li:nth-child(3) {
    background: #7647a2;
}
.leaderboard ol li:nth-child(4) {
    background: #663096;
}
.leaderboard ol li:nth-child(5) {
    background: #551a8b;
    border-radius: 0 0 10px 10px;
}
.leaderboard ol li:hover {
    z-index: 2;
    overflow: visible;
}

.progress-accepted {
    cursor: pointer;
    background-color: #9975b9;
}

.progress-rejected {
    cursor: pointer;
    background-color: #3a404d;
}

.progress-pending {
    cursor: pointer;
    background-color: #babcc2;
    color: black;
}

a.category {
    text-decoration: none;
    color: #3a404d;
}

a.moderator {
    text-decoration: none;
    color: #3a404d;
    display: block;
    width:100%;
}

a.moderator:hover {
    color: #551a8b;
}

a.supervisor {
    text-decoration: none;
    color: #551a8b;
    font-weight: 900;
}

/* MODERATOR OVERVIEW */

span.time {
    position: relative;
    float: right;
}

small.timeago {
    cursor: pointer;
}

div.moderator-feed-block {
    display: flex;
    flex-direction: row;
    padding: 5px 0 0 0;
}

div.moderator-feed-block img {
    width: 16px;
    height: 16px;
}

div.moderator-feed-block small.project {
    padding: .5rem .75rem;    
}

div.category-block {
    display: flex;
    padding: 5px 0 0 0;
    justify-content: center;
    text-align: center;
}

span.category.blog::before {
    font-size: 1em;
    font-family: "Material Icons";
    content: "\E02F";
    font-weight: 400;
}

span.category.blog {
    background-color: #0275d8;
    color: white;
    color: white;
}

span.category.ideas::before {
    font-size: 1em;
    font-family: "Material Icons";
    content: "\E90F";
    font-weight: 400;
}

span.category.ideas {
    background-color: #54d2a0;
    color: white;
}

span.category.development::before {
    font-size: 1em;
    font-family: "Material Icons";
    content: "\E86F";
    font-weight: 400;
}

span.category.development {
    background-color: #000;
    color: white;
}

span.category.bug-hunting::before {
    font-size: 1em;
    font-family: "Material Icons";
    content: "\E868";
    font-weight: 400;
}

span.category.bug-hunting {
    background-color: #d9534f;
    color: white;
}

span.category.translations::before {
    font-size: 1em;
    font-family: "Material Icons";
    content: "\E8E2";
    font-weight: 400;
}

span.category.translations {
    background-color: #ffce3d;
    color: white;
}

span.category.graphics::before {
    font-size: 1em;
    font-family: "Material Icons";
    content: "\E069";
    font-weight: 400;
}

span.category.graphics {
    background-color: #f6a623;
    color: white;
}

span.category.analysis::before {
    font-size: 1em;
    font-family: "Material Icons";
    content: "\E24B";
    font-weight: 400;
}

span.category.analysis {
    background-color: #164265;
    color: white;
}

span.category.social::before {
    font-size: 1em;
    font-family: "Material Icons";
    content: "\E80D";
    font-weight: 400;
}

span.category.social {
    background-color: #7ec2f3;
    color: white;
}

span.category.documentation::before {
    font-size: 1em;
    font-family: "Material Icons";
    content: "\E85D";
    font-weight: 400;
}

span.category.documentation {
    background-color: #b1b1b1;
    color: white;
}

span.category.tutorials::before {
    font-size: 1em;
    font-family: "Material Icons";
    content: "\E0C6";
    font-weight: 400;
}

span.category.tutorials {
    background-color: #782c51;
    color: white;
}

span.category.video-tutorials::before {
    font-size: 1em;
    font-family: "Material Icons";
    content: "\E63A";
    font-weight: 400;
}

span.category.video-tutorials {
    background-color: #ec3324;
    color: white;
}

span.category.copywriting::before {
    font-size: 1em;
    font-family: "Material Icons";
    content: "\E0D8";
    font-weight: 400;
}

span.category.copywriting {
    background-color: teal;
}

span.category.task::before {
    font-size: 1em;
    font-family: "Material Icons";
    content: "\EB41";
    font-weight: 400;
}

span.category.task {
    background-color: pink;
}

span.category {
    padding: .5rem .75rem;
    background-color: #eceeef;
    border: 1px solid rgba(0, 0, 0, .15);
    vertical-align: middle;
    cursor: pointer;
}

span.category.total {
    border-left: none;
    background-color: #fff;
    width: 90px;
}

span.category.percentage {
    border-left: none;
    background-color: #fff;
    width: 90px;
    text-align: right;
}

span.category.rejected {
    border-left: none;
    background-color: #FF4136;
    width: 90px;
}

span.category.accepted {
    border-left: none;
    background-color: #2ECC40;
    width: 90px;
}

span.project {
    padding: .5rem .75rem;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .15);
    text-align: left;
    width: 280px;
}

span.score {
    width: 70px;
    padding: .5rem .75rem;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .15);
    border-left: none;
    text-align: center;
    cursor: pointer;
}

span.comment::before {
    font-size: 1em;
    font-family: "Material Icons";
    content: "\E0B7";
    font-weight: 400;
}

span.comment {
    padding: .5rem .75rem;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .15);
    border-left: none;
    text-align: center;
    cursor: not-allowed;
}

div.moderator-feed {
    background-color: #eceeef;
    border: 1px solid rgba(0, 0, 0, .15);
    border-left: none;
    display: inline-block;
    padding: .5rem .75rem;
    align-items: stretch;
    flex-grow: 1;
}

span.contribution-title {
    display: inline-block;
    width: 250px;
}

div.category-dropdown {
    padding-right: 10px;
}

/* Moderator profile */
div.moderator-profile {
    padding: 15px;
}

div.moderator-profile img {
    border-radius: 50%;
    height: 125px;
    width: 125px;
}

div.moderator-profile div.moderator-image {
    height: 100%;
    float: left;
    width: 175px;
}

div.moderator-profile div.moderator-image div {
    display:flex;
    align-items:center;
    justify-content:center;
}

div.name {
    padding-top: 8px;
}

div.moderator-profile div.stat-row {
    height: 50%;
}

div.stat-container {
    display: inline-block;
    margin: 20px;
}

span.label {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: lighter;
}

span.stat-details {
    font-size: 18px;
    font-weight: bold;
    color: #001f3f;
}

span.stat-details a {
    color: #001f3f;
    text-decoration: none;
}

.utopian-button {
    margin: 20px;
    float: right;
}

div.moderator-pagination {
    padding-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

img.supervisor-image {
    border-radius: 50%;
    height: 125px;
    width: 125px;
}

div.contributors {
    display: flex;
    padding: 15px;
    width: 100%;
    padding-top: 0px;
}

div.moderator-leaderboard {
    width: 50%;
    height: 100%;
    padding: 15px;
    padding-top: 5px;
}

div.moderator-leaderboard h1 {
    font-size: 16px;
    color: #001f3f;
    padding-left: 5px;
    text-align: center;
    width: 100%;
}
.moderator-leaderboard i {
    width: 25px;
    height: 25px;
    position: relative;
    top: 5px;
    margin-right: 5px;
    vertical-align: baseline;
}
.moderator-leaderboard ol {
    counter-reset: moderator-leaderboard;
}
.moderator-leaderboard ol li {
    position: relative;
    counter-increment: moderator-leaderboard;
}
.moderator-leaderboard ol li::before {
    content: counter(moderator-leaderboard);
    position: absolute;
    z-index: 2;
    width: 25px;
    height: 25px;
    line-height: 25px;
    color: #fff;
    background: #001f3f;
    border-radius: 20px;
    text-align: center;
}
.moderator-leaderboard ol li mark {
    z-index: 2;
    width: 100%;
    height: 100%;
    margin: 0;
    padding-left: 35px;
    background: none;
    color: #001f3f;
}

.moderator-leaderboard ol li mark.moderator a {
    color: #551a8b;
}

.moderator-leaderboard ol li mark a {
    text-decoration: none;
}

.moderator-leaderboard ol li span {
    float: right;
}

div.question-header {
    padding: 5px;
    background-color: #eceeef;
    border: 1px #DCDCDC solid;
}

div.question-answer {
    /* background-color: #F5F5F5; */
    border: 1px #DCDCDC solid;
    border-top: none;
    border-bottom: none;
    display: flex;
    flex-direction: row;
}


/* QUESTIONNAIRE MODAL */
div.modal-dialog {
    width: 750px;
    margin: auto
}

div.question-answer span.answer {
    background-color: #F5F5F5;
    padding: .5rem .75rem;
    width: 90%;
}

div.question-answer span.score {
    background-color: #F5F5F5;
    border: none;
    width: 20%;
    text-align: right;
    cursor: default;
}

/* MODERATOR COMMENT */