.error-page {
  display: grid;
  grid-column: center-start / center-end;
  justify-content: center;
  align-items: center;

  & > img {
    width: 50rem;

  }
}

.error-text {
  font-size: 5rem;
  text-align: center;
}
