.category {
  &--inactive {
    color: var(--color-grey-light-5) !important;
  }
  &--all {
    color: var(--color-all);
  }
  &--analysis {
    color: var(--color-analysis);
  }

  &--blog {
    color: var(--color-blog);
  }

  &--bug-hunting {
    color: var(--color-bug-hunting);
  }

  &--copywriting {
    color: var(--color-copywriting);
  }

  &--development {
    color: var(--color-development);
  }

  &--documentation {
    color: var(--color-documentation);
  }

  &--graphics {
    color: var(--color-graphics);
  }

  &--ideas {
    color: var(--color-ideas);
  }

  &--translations {
    color: var(--color-translations);
  }

  &--tutorials {
    color: var(--color-tutorials);
  }

  &--video-tutorials {
    color: var(--color-video-tutorials);
  }

  &--social {
    color: var(--color-social);
  }

  &--iamutopian {
    color: var(--color-iamutopian);
  }

  &--anti-abuse {
    color: var(--color-anti-abuse);
  }
}
