.home {
  display: grid;
  grid-column: 1 / -1;
  grid-template-rows: 80vh min-content 1fr 1fr 1fr 1fr;
  grid-template-columns: [full-start]
    minmax(6rem, 1fr)
    [center-start]
    8fr
    [center-end]
    minmax(6rem, 1fr) 
    [full-end];

  &__gradient {
    position: absolute;
    height: 50%;
    width: 100%;
    background: linear-gradient(to right,#fff, transparent, #fff);
    z-index: 100;
  }
}

.home-header {
  display: grid;
  grid-column: full-start / full-end;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-size: cover;
  background-image: url("img/header.jpg");
  background-position: center center;
  color: var(--color-grey-light-1);
}

.home-categories {
  margin: 10rem 0;
  display: grid;
  grid-column: center-start / center-end;
  grid-template-rows: min-content min-content;
  font-size: 1.2rem;

  &__text {
    color: var(--color-grey-dark-1);
    margin-bottom: 5rem;
  }

  &__paragraph {
    font-size: 2rem;
    color: var(--color-home);
  }

  &__categories {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-gap: 3rem;
    grid-template-areas: 
      "cat1 cat2 cat3 cat4  cat5   cat6"
      "cat7 cat8 cat9 cat10 cat11 cat12"
  }

  &__category {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 90rem) {
  .home-categories__categories {
    grid-template-areas:
      "cat1 cat2  cat3  cat4"
      "cat5 cat6  cat7  cat8"
      "cat9 cat10 cat11 cat12"
  }
}

@media (max-width: 60rem) {
  .home-categories__categories {
    grid-template-areas:
      "cat1  cat2  cat3"
      "cat4  cat5  cat6"
      "cat7  cat8  cat9"
      "cat10 cat11 cat12"
  }
}

.home-managers {
  display: grid;
  grid-column: center-start / center-end;
  align-items: center;
  position: relative;
  margin-bottom: 10rem;
  &__slick {
    width: 80vw;
  }
}

.home-moderators {
  display: grid;
  grid-column: center-start / center-end;
  align-items: center;
  position: relative;
  margin-bottom: 10rem;
  &__slick {
    width: 80vw;
  }
}

.home-contributors {
  display: grid;
  grid-column: center-start / center-end;
  align-items: center;
  position: relative;
  margin-bottom: 10rem;
  &__slick {
    width: 80vw;
  }
}

.home-projects {
  display: grid;
  grid-column: center-start / center-end;
  align-items: center;
  position: relative;
  margin-bottom: 10rem;
  &__slick {
    width: 80vw;
  }
}

.slick-dots li.slick-active  {
  transform: scale(2);
  transition: transform 0.3s ease;
  z-index: 150;
}

.slick-current .slick-active {
  /* Fix current card getting transparent */
}

button::-moz-focus-inner { border: 0; }

.slick-arrow:before {
  color: #888 !important;
  transition: opacity 0.3s ease;
}

.home-search {
  display: grid;
  justify-content: center;
  align-items: center;
}

.home-form {
  margin-top: 5rem;

  &__input {
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: .2rem;
    background-color: var(--color-grey-light-3);
    border: none;
    border-bottom: 3px solid transparent;
    display: grid;
    align-items: center;

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
      border-bottom: 3px solid var(--color-link);
    }

    &::-webkit-input-placeholder {
      color: var(--color-grey-dark-3);
    }
  }

  &__label {
    color: var(--color-link);
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: .7rem;
    display: block;
    transition: all .3s;
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }
}