.home {
  display: grid;
  grid-column: 1 / -1;
  grid-template-rows: 80vh 1fr 1fr 1fr;
  grid-template-columns: [full-start]
    minmax(3rem, 1fr)
    [center-start]
    8fr
    [center-end]
    minmax(3rem, 1fr) 
    [full-end];
}

.home-header {
  display: grid;
  grid-column: full-start / full-end;
  align-items: center;
  text-align: center;
  background-size: cover;
  background-image: url("img/header.jpg");
  background-position: center center;
  color: var(--color-grey-light-1);
}

.home-categories {
  margin: 10rem 0;
  display: grid;
  grid-gap: 5rem;
  grid-column: center-start / center-end;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  font-size: 1.2rem;

  &__text {
    color: var(--color-grey-dark-1);
  }

  &__paragraph {
    font-size: 2rem;
    color: var(--color-home);
  }

  &__categories {
    display: grid;
    grid-gap: .5rem;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }

  &__category {
    display: grid;
    grid-gap: .5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.home-managers {
  display: grid;
  grid-column: center-start / center-end;
  align-items: center;
  &__slick {
    width: 80vw;
  }
}

.home-moderators {
  display: grid;
  grid-column: center-start / center-end;
  align-items: center;
  &__slick {
    width: 80vw;
  }
}

.home-projects {
  display: grid;
  grid-column: center-start / center-end;
  align-items: center;
  &__slick {
    width: 80vw;
  }
}

.slick-dots li.slick-active  {
  transform: scale(2);
  transition: transform 0.3s ease;
}

button::-moz-focus-inner { border: 0; }

.slick-arrow:before {
  color: #888 !important;
  transition: opacity 0.3s ease;
}