{% extends "category/index.html" %}
{% block category_content %}
<div class="profile-leaderboards">
  <div class="profile-leaderboard">
    <div class="profile-leaderboard__header">
      <h1>Most active</h1>
    </div>
    <ol class="profile-leaderboard__list">
    {% for moderator in information.moderators %}
      {% if not moderator.total == 0 %}
        <li class="profile-leaderboard__item">
        <a class="profile-leaderboard__link" href="https://utopian.io/@{{moderator.moderator}}">{{moderator.moderator}}</a>
        <div class="profile-leaderboard__reviewed">{{moderator.total}}</div>
        </li>
      {% endif %}
    {% endfor %}
    </ol>
  </div>
</div>
{% endblock %}