{% extends "categories.html" %}
{% block content %}
<div class="col-10">
    <div class="progress">
        <div class="progress-bar progress-accepted" data-toggle="tooltip" data-placement="top" title="Accepted contributions" role="progressbar" style="width: {{information['accepted_percentage']}}%" aria-valuenow="{{information['accepted']}}" aria-valuemin="0" aria-valuemax="{{information['total']}}">
            {{information["accepted"]}}
        </div>
        <div class="progress-bar progress-rejected" data-toggle="tooltip" data-placement="top" title="Rejected contributions" role="progressbar" style="width: {{information['rejected_percentage']}}%" aria-valuenow="{{information['rejected']}}" aria-valuemin="0" aria-valuemax="{{information['total']}}">
            {{information["rejected"]}}
        </div>
        <div class="progress-bar progress-pending" data-toggle="tooltip" data-placement="top" title="Pending contributions" role="progressbar" style="width: {{information['pending_percentage']}}%" aria-valuenow="{{information['pending']}}" aria-valuemin="0" aria-valuemax="{{information['total']}}">
            {{information["pending"]}}
        </div>
    </div>
    <div class="row plot">
            {{information["plot"]|safe}}
    </div>
    <div class="row category">
        <div class="col-4">
            <div class="leaderboard">
            <h1><i class="material-icons">mood</i>Most accepted contributors</h1>
            <ol class="list-group">
                {% for author in information["best_authors"] %}
                <li class="list-group-item">
                    <mark>{{author["author"]}}</mark>
                    <small>{{author["accepted"]}}</small>
                </li>
                {% endfor %}
            </ol>
            </div>
        </div>
        <div class="col-4">
            <div class="leaderboard">
            <h1><i class="material-icons">mood_bad</i>Most rejected contributors</h1>
            <ol class="list-group">
                {% for author in information["worst_authors"] %}
                <li class="list-group-item">
                    <mark>{{author["author"]}}</mark>
                    <small>{{author["rejected"]}}</small>
                </li>
                {% endfor %}
            </ol>
            </div>
        </div>
        <div class="col-4">
            <div class="leaderboard">
            <h1><i class="material-icons">star_rate</i>Most active moderators</h1>
            <ol class="list-group">
                {% for moderator in information["moderators"] %}
                <li class="list-group-item">
                    <mark>{{moderator["moderator"]}}</mark>
                    <small>{{moderator["total"]}}</small>
                </li>
                {% endfor %}
            </ol>
            </div>
        </div>
    </div>
</div>
<script>
$(function () {
    $('[data-toggle="tooltip"]').tooltip()
})
</script>
{{information["script"]|safe}}
{% endblock %}