{% extends "base.html" %}
{% set active_page = "comments" %}
{% block content %}
<div class="announcement">
  <div>
    <b>Announcement</b>: a new voting bot is being used. Read more about its behaviour here <a href="https://steemit.com/utopian-io/@amosbastian/developing-the-new-utopian-bot" class="announcement-url" target="_blank">https://steemit.com/utopian-io/@amosbastian/developing-the-new-utopian-bot</a>! 
  </div>
</div>
<div class="statistics">
  <div class="statistics-element">
    <svg class="contribution-header-icon">
      <use xlink:href="../static/img/sprite.svg#icon-pencil"></use>
    </svg>
    <p class="contribution-counter">
      {{contributions|length}}
    </p>
  </div>
  <div class="statistics-element">
    <svg class="contribution-header-icon">
      <use xlink:href="../static/img/sprite.svg#icon-clock"></use>
    </svg>
    <span class="{{recharge_class}}" id="time">
      {{recharge_time}}
    </span>
  </div>
  <div class="statistics-element">
    <svg class="contribution-header-icon">
      <use xlink:href="../static/img/sprite.svg#icon-power"></use>
    </svg>
    <span class="{{recharge_class}}" id="current-vp">
      {{current_vp}}
    </span>
  </div>
  <div class="category-filter">
    {% for category in categories %}
      {% if category == "all" %}
      <div title="{{category}}" class="filter-button category--{{category}}">
        <svg class="category-icon">
          <use xlink:href="../static/img/sprite.svg#icon-{{category}}"></use>
        </svg>
      </div>
      {% else %}
      <div title="{{category}}" class="filter-button category--{{category}} category--inactive">
        <svg class="category-icon">
          <use xlink:href="../static/img/sprite.svg#icon-{{category}}"></use>
        </svg>
      </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
<div class="contributions">
  {% for contribution in contributions %}
  <div class="contribution {{contribution.category}}">
    <div class="contribution__author--queue" title="@{{contribution.moderator}}">
      <div>
        {{loop.index}}.
      </div>
      <a class="author-url" href="https://steemit.com/@{{contribution.moderator}}" target="_blank">
        <div class="contribution-avatar">
          <img class="contribution-avatar--image" src="https://steemitimages.com/u/{{contribution.moderator}}/avatar" alt="">
        </div>
      </a>
    </div>
    <div class="contribution__body">
      <div class="body-half">
        <a href="{{contribution.url}}#@{{contribution.moderator}}/{{contribution.comment_url}}" class="contribution-url" target="_blank">
          @{{contribution.moderator}}/{{contribution.comment_url|truncate(90)}}
        </a>
      </div>
      <div class="body-half">
        {% if contribution.repository %}
        <a href="{{contribution.repository}}" class="contribution-repository" target="_blank">
          {{contribution.repository.split('https://github.com/')[-1]|truncate(110)}}
        </a>
          {% if contribution.vote_time != "TBD" %}
          <span class="contribution-submitted" title="{{contribution.vote_time.strftime('%Y-%m-%d %H:%M:%S')}}">
            · upvote {{contribution.vote_time|timeago}}
          </span>
          {% else %}
          <span class="contribution-submitted">
            · TBD
          </span>
          {% endif %}
        {% else %}
          {% if contribution.vote_time != "TBD" %}
          <span class="contribution-submitted contribution-submitted--nopadding" title="{{contribution.vote_time.strftime('%Y-%m-%d %H:%M:%S')}}">
            upvote {{contribution.vote_time|timeago}}
          </span>
          {% else %}
          <span class="contribution-submitted contribution-submitted--nopadding">
            TBD
          </span>
          {% endif %}
        {% endif %}
      </div>
    </div>
    {% if "task" in contribution.category %}
    <div class="contribution__category category--{{contribution.category.split('task-')[1]}}" title="{{contribution.category}}">
      <svg class="category-icon">
        <use xlink:href="../static/img/sprite.svg#icon-{{contribution.category.split('task-')[1]}}"></use>
      </svg>
    </div>
    {% else %}
    {% if contribution.category == "iamutopian" %}
    <div class="contribution__category category--{{contribution.category}}" title="{{contribution.category}}">
      <svg class="category-icon category-icon--utopian-io">
        <use xlink:href="../static/img/sprite.svg#icon-{{contribution.category}}"></use>
      </svg>
    </div>
    {% else %}
    <div class="contribution__category category--{{contribution.category}}" title="{{contribution.category}}">
      <svg class="category-icon">
        <use xlink:href="../static/img/sprite.svg#icon-{{contribution.category}}"></use>
      </svg>
    </div>
    {% endif %}
    {% endif %}
    {% if contribution.next_batch %}
    <div class="contribution__status contribution__status--under-review" title="included in next batch">
    </div>
    {% else %}
    <div class="contribution__status contribution__status--not-under-review" title="not included in next batch">
    </div>
    {% endif %}
  </div>
  {% endfor %}
</div>
<script>
  votingPower();
  countdown();
  filterContributions('all');
</script>
{% endblock %}