{% block body %}
<div class="contributors">
<div class="moderator-leaderboard">
    <ol class="list-group">
    <h1><i class="material-icons">star_rate</i>Most accepted by</h1>
    {% for moderator in best %}
        {% if not moderator.accepted == 0 %}
            <li class="list-group-item">
            {% if moderator.moderator in moderators %}
            <mark class="moderator"><a href="{{ url_for('user', username=moderator.moderator) }}">{{moderator.moderator}}</a></mark>
            {% else %}
            <mark><a href="{{ url_for('user', username=moderator.moderator) }}">{{moderator.moderator}}</a></mark>
            {% endif %}
            <span class="accepted">{{moderator.accepted}}</span>
            <!-- <span class="rejected">{{moderator.rejected}}</span> -->
            <!-- <span class="percentage">{{moderator.percentage|round|int}}%</span> -->
            </li>
        {% endif %}
    {% endfor %}
    </ol>
</div>
<div class="moderator-leaderboard">
    <ol class="list-group">
    <h1><i class="material-icons">delete</i>Most rejected by</h1>
    {% for moderator in worst %}
        {% if not moderator.rejected == 0 %}
            <li class="list-group-item">
            {% if moderator.moderator in moderators %}
            <mark class="moderator"><a href="{{ url_for('user', username=moderator.moderator) }}">{{moderator.moderator}}</a></mark>
            {% else %}
            <mark><a href="{{ url_for('user', username=moderator.moderator) }}">{{moderator.moderator}}</a></mark>
            {% endif %}
            <!-- <span class="accepted">{{moderator.accepted}}</span> -->
            <span class="rejected">{{moderator.rejected}}</span>
            <!-- <span class="percentage">{{moderator.percentage|round|int}}%</span> -->
            </li>
        {% endif %}
    {% endfor %}
    </ol>
</div>
</div>
{% endblock %}