{% extends "layout.html" %}
{% block body %}
<div class="moderator-profile">
<div class="moderator-image">
    <div class="image"><img src="https://steemitimages.com/u/{{username}}/avatar"></img></div>
    {% if username in moderators %}
    <div class="name"><a href="{{url_for('user', username=username)}}"><h4>{{username}}</h4></a></div>
    <div><p>Moderator</p></div>
    {% else %}
    <div class="name"><h4>{{username}}</h4></div>
    {% endif %}
</div>
<div class="stat-row">
    <div class="stat-container">
        <span class="label">Contributing since</span>
        <span class="stat-details">{{contributing_since}}</span>
    </div>
    <div class="stat-container">
        <span class="label">Contributed</span>
        <span class="stat-details">{{post_list|length}}</span>
    </div>
    <div class="stat-container">
        <span class="label">Accepted</span>
        <span class="stat-details">{{accepted}}</span>
    </div>
    <div class="stat-container">
        <span class="label">Rejected</span>
        <span class="stat-details">{{rejected}}</span>
    </div>
    <div class="stat-container">
        <span class="label">%</span>
        <span class="stat-details">{{"{:.1f}".format(percentage)}}</span>
    </div>
    <div class="utopian-button">
        <a class="btn btn-outline-primary" href="https://utopian.io/@{{username}}">Utopian.io</a>
    </div>
</div>
<div class="stat-row">
    <div class="stat-container">
        <span class="label">Contributing in categories</span>
        <span class="stat-details">
            {{", ".join(categories_formatted)}}
        </span>
    </div>
</div>
</div>
<div class="container">
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="reviews-tab" data-toggle="tab" href="#reviews" role="tab" aria-controls="reviews" aria-selected="true">Reviews</a>
            <a class="nav-item nav-link" id="moderator-tab" data-toggle="tab" href="#moderator" role="tab" aria-controls="moderator" aria-selected="false">Moderators</a>
            <a class="nav-item nav-link" id="category-tab" data-toggle="tab" href="#category" role="tab" aria-controls="category" aria-selected="false">Categories</a>
        </div>
    </nav>
</div>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
        {% include "contributor_reviews.html" %}
    </div>
    <div class="tab-pane fade" id="moderator" role="tabpanel" aria-labelledby="moderator-tab">
        {% include "contributor_moderators.html" %}
    </div>
    <div class="tab-pane fade" id="category" role="tabpanel" aria-labelledby="category-tab">
        {% include "contributor_categories.html" %}
    </div>
</div>
{% endblock %}