{% block body %}
{% for post in post_list|sort(True, attribute="created") %}
    <div class="moderator-feed-block">
        {% if "task" in post.category %}
        <span class="category task" title="{{post.category.replace("-", " ").title()}}"></span>
        {% else %}
        <span class="category {{post.category}}" title="{{post.category.replace("-", " ").title()}}"></span>
        {% endif %}
        {% if post.status == "any" %}
        <span class="category accepted">Accepted</span>
        {% else %}
        <span class="category rejected">Rejected</span>
        {% endif %}
        <span class="project"><img src="{{url_for('static', filename='GitHub-Mark-32px.png')}}">
            <small class="project">
                {% if post.repository.owner.login|length > 15 %}
                    {% if post.repository.name|length > 15 %}
                    <a href="https://github.com/{{post.repository.owner.login}}/{{post.repository.name}}">
                        {{post.repository.owner.login[:12]}}.../{{post.repository.name[:12]}}...
                    </a>
                    {% else %}
                    <a href="https://github.com/{{post.repository.owner.login}}/{{post.repository.name}}">
                        {{post.repository.owner.login[:12]}}.../{{post.repository.name}}
                    </a>
                    {% endif %}
                {% elif post.repository.name|length > 15 %}
                <a href="https://github.com/{{post.repository.owner.login}}/{{post.repository.name}}">
                    {{post.repository.owner.login}}/{{post.repository.name[:12]}}...
                </a>
                {% else %}
                <a href="https://github.com/{{post.repository.owner.login}}/{{post.repository.name}}">
                    {{post.repository.owner.login}}/{{post.repository.name}}
                </a>
                {% endif %}
            </small>
        </span>
        <div class="moderator-feed">
            {% if post.title|length > 25 %}
            <span class="contribution-title"><a href="https://utopian.io/utopian-io/@{{post.author}}/{{post.permlink}}">{{post.title[:20]}}...</a></span>
            {% elif post.title.upper() %}
            <span class="contribution-title"><a href="https://utopian.io/utopian-io/@{{post.author}}/{{post.permlink}}">{{post.title[:15]}}...</a></span>
            {% else %}
            <span class="contribution-title"><a href="https://utopian.io/utopian-io/@{{post.author}}/{{post.permlink}}">{{post.title}}</a></span>
            {% endif %}
            moderated by <a href="{{url_for('user', username=post.moderator.account)}}">{{post.moderator.account}}</a>
            <span class="time"><small class="timeago" title="{{post.created}}">{{post.created|timeago}}</small></span>
        </div>
        {% if not post.score %}
            <span class="score">0</span>
        {% else %}
            <span class="score" data-toggle="modal" data-target="#{{post.permlink}}">{{post.score}}</span>
            <div class="modal fade" id="{{post.permlink}}" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">{{post.title}}</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                    {% for question in post.questions %}
                        <div class="question-header">
                            <b>{{question.question}}</b>
                        </div>
                        <div class="question-answer">
                            {% for answer in question.answers %}
                                {% if answer.selected %}
                                    <span class="answer">{{answer.value}}</span>
                                    <span class="score">
                                        {% if answer.score == 0 %}
                                        <span style="color: red;">{{answer.score}}</span>
                                        {% elif answer.score < question["answers"][0]["score"] %}
                                        <span style="color: orange;">{{answer.score}}</span>
                                        {% else %}
                                        <span style="color: green;">{{answer.score}}</span>
                                        {% endif %}
                                         / 
                                        <b>{{question["answers"][0]["score"]}}</b>
                                    </span>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endfor %}
                    </div>
                  </div>
                </div>
            </div>
        {% endif %}
        {% if not post.comment == "N/A" %}
        <span class="comment" data-toggle="modal" data-target="#{{post.comment_permlink}}">{{post.comment}}</span>
        <div class="modal fade" id="{{post.comment_permlink}}" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{post.title}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{post.comment|safe}}
                </div>
                </div>
            </div>
        </div>
        {% else %}
        <span class="comment"></span>
        {% endif %}
    </div>
{% endfor %}
<div class="moderator-pagination">
    <div class="pagination">
    </div>
</div>
{% endblock %}