<footer class="footer">
  <div class="footer__amosbastian">
    <img src="https://steemitimages.com/u/amosbastian/avatar" alt="" class="footer__image">
    <a href="https://steemit.com/@amosbastian" class="footer__link" target="_blank">
      @amosbastian
    </a>
  </div>
  <div class="footer__github">
    <a href="https://github.com/amosbastian/utopian" class="footer__github-link" target="_blank">
      <svg class="footer__icon">
        <use xlink:href="../static/img/sprite.svg#icon-github"></use>
      </svg>
    </a>
  </div>
  <div class="footer__updated" title="last updated">
    {{last_updated}} UTC
  </div>
</footer>