<footer class="footer">
  <div class="footer__amosbastian">
    <img src="https://steemitimages.com/u/amosbastian/avatar" alt="" class="footer__image">
    <a href="https://utopian.io/@amosbastian" class="footer__link">
      @amosbastian
    </a>
  </div>
  <div class="footer__github">
    <a href="#" class="footer__github-link">
      <svg class="footer__icon">
        <use xlink:href="../static/img/sprite.svg#icon-github"></use>
      </svg>
    </a>
  </div>
  <div class="footer__updated">
    12:00
  </div>
</footer>