{% extends "base.html" %}
{% set active_page = "index" %}
{% block content %}
<div class="contributions">
  <div class="statistics">
    Waiting for review: {{contributions|length}}
  </div>
  {% for contribution in contributions %}
  <div class="contribution">
    <div class="position position">
      {{loop.index}}
    </div>
    <div class="content">
      <div class="author">
        <a href="https://steemit.com/@{{contribution.author}}">@{{contribution.author}}</a>
      </div>
      <div class="url">
        <a href="{{contribution.url}}">{{contribution.url}}</a>
      </div>
      <div class="category category--{{contribution.category}}">
        {{contribution.category}}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}