{% extends "layout.html" %}
{% block body %}
<div class="moderator-profile">
<div class="moderator-image">
    <div class="image"><img src="https://steemitimages.com/u/{{username}}/avatar"></img></div>
    <div class="name"><h4>{{username}}</h4></div>
    {% if moderator.supermoderator %}
    <div><p>Supervisor</p></div>
    {% else %}
    <div><p>Moderator</p></div>
    {% endif %}
</div>
<div class="stat-row">
    <div class="stat-container">
        <span class="label">Moderating since</span>
        <span class="stat-details">{{moderating_since}}</span>
    </div>
    <div class="stat-container">
        <span class="label">Moderated</span>
        <span class="stat-details">{{post_list|length}}</span>
    </div>
    <div class="stat-container">
        <span class="label">Accepted</span>
        <span class="stat-details">{{accepted}}</span>
    </div>
    <div class="stat-container">
        <span class="label">Rejected</span>
        <span class="stat-details">{{rejected}}</span>
    </div>
    <div class="stat-container">
        <span class="label">%</span>
        <span class="stat-details">{{"{:.1f}".format(percentage)}}</span>
    </div>
    {% if moderator.referrer %}
    <div class="stat-container">
        <span class="label">Team</span>
        <span class="stat-details"><a href="{{ url_for('team', supervisor=moderator.referrer) }}">{{moderator.referrer}}</a></span>
    </div>
    {% else %}
        {% if moderator.supermoderator %}
        <div class="stat-container">
            <span class="label">Team</span>
            <span class="stat-details"><a href="{{ url_for('team', supervisor=username) }}">{{username}}</a></span>
        </div>
        {% else %}
        <div class="stat-container">
            <span class="label">Team</span>
            <span class="stat-details" style="color: red;">None</span>
        </div>
        {% endif %}
    {% endif %}
    <div class="utopian-button">
        <a class="btn btn-outline-primary" href="https://utopian.io/@{{username}}">Utopian.io</a>
    </div>
</div>
<div class="stat-row">
    <div class="stat-container">
        <span class="label">Moderating in categories</span>
        <span class="stat-details">
            {{", ".join(categories_formatted)}}
        </span>
    </div>
</div>
</div>
<div class="container">
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="reviews-tab" data-toggle="tab" href="#reviews" role="tab" aria-controls="reviews" aria-selected="true">Reviews</a>
            <a class="nav-item nav-link" id="activity-tab" data-toggle="tab" href="#activity" role="tab" aria-controls="activity" aria-selected="false">Activity</a>
            <a class="nav-item nav-link" id="contributor-tab" data-toggle="tab" href="#contributor" role="tab" aria-controls="contributor" aria-selected="false">Contributors</a>
            <a class="nav-item nav-link" id="category-tab" data-toggle="tab" href="#category" role="tab" aria-controls="category" aria-selected="false">Categories</a>
        </div>
    </nav>
</div>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
        {% include "moderator_reviews.html" %}
    </div>
    <div class="tab-pane fade" id="activity" role="tabpanel" aria-labelledby="activity-tab">
        {% include "moderator_activity.html" %}
    </div>
    <div class="tab-pane fade" id="contributor" role="tabpanel" aria-labelledby="contributor-tab">
        {% include "moderator_contributors.html" %}
    </div>
    <div class="tab-pane fade" id="category" role="tabpanel" aria-labelledby="category-tab">
        {% include "moderator_categories.html" %}
    </div>
</div>
{{script|safe}}
{% endblock %}