{% block body %}
{% for post in post_list|sort(True, attribute='moderator.time') %}
    <div class="moderator-feed-block">
        {% if "task" in post.category %}
        <span class="category task" title="{{post.category.replace("-", " ").title()}}"></span>
        {% else %}
        <span class="category {{post.category}}" title="{{post.category.replace("-", " ").title()}}"></span>
        {% endif %}
        {% if post.status == "any" %}
        <span class="category accepted">Accepted</span>
        {% else %}
        <span class="category rejected">Rejected</span>
        {% endif %}
        <span class="project"><small><a href="https://github.com/{{post.repository.owner.login}}/{{post.repository.name}}">{{post.repository.owner.login}}/{{post.repository.name|truncate(20)}}</a></small></span>
        <div class="moderator-feed">
            {% if post.title.isupper() %}
            <span class="contribution-title"><a href="https://utopian.io/utopian-io/@{{post.author}}/{{post.permlink}}">{{post.title|truncate(20)}}</a></span>
            {% else %}
            <span class="contribution-title"><a href="https://utopian.io/utopian-io/@{{post.author}}/{{post.permlink}}">{{post.title|truncate(25)}}</a></span>
            {% endif %}
            posted by <a href="#">{{post.author}}</a>
            <span class="time"><small class="timeago" title="{{post.moderator.time}}">{{post.moderator.time|timeago}}</small></span>
        </div>
        {% if not post.score %}
            <span class="score">0</span>
        {% else %}
            <span class="score">{{post.score}}</span>
        {% endif %}
        <!-- <span class="comment">{{post.comment}}</span> -->
    </div>
{% endfor %}
<div class="moderator-pagination">
    <div class="pagination">
    </div>
</div>
{% endblock %}