{% extends "base.html" %}
{% set active_page = "queue" %}
{% block content %}
<div class="contributions">
  <div class="statistics">
    In queue: {{contributions|length}}
  </div>
  {% for contribution in contributions %}
  <div class="contribution">
    <div class="position position--{{loop.index}}">
      {{loop.index}}
    </div>
    <div class="content">
      <div class="author">
        <a href="https://steemit.com/@{{contribution.author}}">@{{contribution.author}}</a>
      </div>
      <div class="url">
        <a href="{{contribution.url}}">{{contribution.url}}</a>
      </div>
      <div class="category category--{{contribution.category}}">
        {{contribution.category}}
      </div>
    </div>
    {% if contribution.valid_age %}
    <div class="status status--valid-age">
    </div>
    {% else %}
    <div class="status status--invalid-age">
    </div>
    {% endif %}
  </div>
  {% endfor %}
</div>
{% endblock %}