{% extends "base.html" %}
{% set active_page = "queue" %}
{% block content %}
<div class="statistics">
  <div class="statistics-element">
    <svg class="contribution-header-icon">
      <use xlink:href="../static/img/sprite.svg#icon-pencil"></use>
    </svg>
    {{contributions|length}}
  </div>
  <div class="statistics-element">
    <svg class="contribution-header-icon">
      <use xlink:href="../static/img/sprite.svg#icon-clock"></use>
    </svg>
    <span class="{{recharge_class}}" id="time">
      {{recharge_time}}
    </span>
  </div>
  <div class="statistics-element">
    <svg class="contribution-header-icon">
      <use xlink:href="../static/img/sprite.svg#icon-power"></use>
    </svg>
    <span class="{{recharge_class}}" id="current-vp">
      {{current_vp}}
    </span>
  </div>
</div>
<div class="contributions">
  {% for contribution in contributions %}
  <div class="contribution">
    <div class="contribution__author--queue" title="@{{contribution.author}}">
      <div>
        {{loop.index}}.
      </div>
      <a class="author-url" href="https://steemit.com/@{{contribution.author}}">
        <img class="contribution-avatar" src="https://steemitimages.com/u/{{contribution.author}}/avatar" alt="">
      </a>
    </div>
    <div class="contribution__body">
      <div class="body-half">
        <a href="{{contribution.url}}" class="contribution-url">
          {{contribution.title}}
        </a>
      </div>
      <div class="body-half">
        <a href="{{contribution.repository}}" class="contribution-repository">
          {{contribution.repository.split('https://github.com/')[-1]}}
        </a>
        <span class="contribution-submitted">
          · submitted {{contribution.created|timeago}}
        </span>
      </div>
    </div>
    {% if "task" in contribution.category %}
    <div class="contribution__category category--{{contribution.category.split('task-')[1]}}" title="{{contribution.category}}">
      <svg class="category-icon">
        <use xlink:href="../static/img/sprite.svg#icon-{{contribution.category.split('task-')[1]}}"></use>
      </svg>
    </div>
    {% else %}
    <div class="contribution__category category--{{contribution.category}}" title="{{contribution.category}}">
      <svg class="category-icon">
        <use xlink:href="../static/img/sprite.svg#icon-{{contribution.category}}"></use>
      </svg>
    </div>
    {% endif %}
    {% if contribution.valid_age %}
    <div class="contribution__status contribution__status--under-review" title="age is valid">
    </div>
    {% else %}
    <div class="contribution__status contribution__status--not-under-review" title="age is not valid">
    </div>
    {% endif %}
  </div>
  {% endfor %}
</div>
<script>
  var seconds;
  var temp;

  function countdown() {
    time = document.getElementById('time').innerHTML;
    timeArray = time.split(':')
    seconds = timeToSeconds(timeArray);
    if (seconds == '') {
      temp = document.getElementById('time');
      temp.innerHTML = "00:00:00";
      return;
    }
    seconds--;
    temp = document.getElementById('time');
    temp.innerHTML = secondsToTime(seconds);
    wait = setTimeout(countdown, 1000);
  }

  function timeToSeconds(timeArray) {
    var minutes = (timeArray[0] * 60) + (timeArray[1] * 1);
    var seconds = (minutes * 60) + (timeArray[2] * 1);
    return seconds;
  }

  function secondsToTime(secs) {
    var hours = Math.floor(secs / (60 * 60));
    hours = hours < 10 ? '0' + hours : hours;
    var divisor_for_minutes = secs % (60 * 60);
    var minutes = Math.floor(divisor_for_minutes / 60);
    minutes = minutes < 10 ? '0' + minutes : minutes;
    var divisor_for_seconds = divisor_for_minutes % 60;
    var seconds = Math.ceil(divisor_for_seconds);
    seconds = seconds < 10 ? '0' + seconds : seconds;
    return hours + ':' + minutes + ':' + seconds;
  }

  function votingPower() {
    let vp = parseFloat(document.getElementById('current-vp').innerHTML.replace("%", ""));
    vp += 0.01
    if (vp > 100) {
      vp = 100.0;
    }
    let temp = document.getElementById('current-vp');
    temp.innerHTML = vp.toFixed(2);
    var wait = setTimeout(votingPower, 43200);
  }

  votingPower();
  countdown();
</script>
{% endblock %}