<nav class="sidebar">
  <ul class="side-nav">
    <li class="side-nav__item">
      <a href="#" class="side-nav__link">
        <!-- <svg class="side-nav__icon">
          <use xlink:href="../static/img/sprite.svg#icon-home"></use>
        </svg> -->
        <span>Home</span>
      </a>
    </li>
    <li class="side-nav__item">
        <a href="#" class="side-nav__link">
        <!-- <svg class="side-nav__icon">
          <use xlink:href="../static/img/sprite.svg#icon-star2"></use>
        </svg> -->
        <span>FDR</span>
      </a>
    </li>
  </ul>
</nav>