{% extends "layout.html" %}
{% block body %}
    <h1>{{supervisor}}'s team ({{week_ago}} - {{today}})</h1>
    <div class="supervisor overview" data-toggle="collapse" data-target="#category-overview">Category overview</div>
    <div class="collapse show" id="category-overview">
        <table class="table table-bordered table-sm table-hover table-striped">
            <thead>
                <tr>
                <th scope="col" style="width: 22.5%">Category</th>
                <th scope="col" style="width: 22.5%">Moderated</th>
                <th scope="col" style="width: 22.5%">Accepted</th>
                <th scope="col" style="width: 22.5%">Rejected</th>
                <th scope="col" style="width: 5%">%</th>
                <th scope="col" style="width: 5%">Points</th>
                </tr>
            </thead>
            <tbody>
                {% for category in team_performance["overall"] %}
                    {% if not category["category"] == "overall" %}
                    <tr>
                        <td><a class="moderator" href="{{ url_for('categories', category=category['category']) }}">{{category["category"].replace("-", " ").title()}}</a></td>
                        <td>{{category["moderated"]}}</td>
                        <td>{{category["accepted"]}}</td>
                        <td>{{category["rejected"]}}</td>
                        {% if category["percentage"] < 50 %}
                        <td><span style="color: red;">{{category["percentage"]|round}}</span></td>
                        {% else %}
                        <td><span style="color: green;">{{category["percentage"]|round}}</span></td>
                        {% endif %}
                        <td>{{category["points"]}}</td>
                    </tr>
                    {% endif %}
                {% endfor %}
                {% for category in team_performance["overall"] %}
                    {% if category["category"] == "overall" %}
                    <tr>
                        <td><b><a class="moderator" href="{{ url_for('categories', category='all') }}">All</a></b></td>
                        <td><b>{{category["moderated"]}}</b></td>
                        <td><b>{{category["accepted"]}}</b></td>
                        <td><b>{{category["rejected"]}}</b></td>
                        {% if category["percentage"] < 50 %}
                        <td><span style="color: red;"><b>{{category["percentage"]|round}}</b></span></td>
                        {% else %}
                        <td><span style="color: green;"><b>{{category["percentage"]|round}}</b></span></td>
                        {% endif %}
                        <td><b>{{category["points"]}}</b></td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% for category in team_performance["categories"] %}
        {% if category["category"] == "overall" %}
        <div class="supervisor total" data-toggle="collapse" data-target="#collapse-total" aria-expanded="false"><span>Moderator overview</span></div>
        <div class="collapse" id="collapse-total">
        {% else %}
        <div class="supervisor {{category['category']}}" data-toggle="collapse" data-target="#collapse-{{category['category']}}" aria-expanded="false"><span>{{category['category'].replace("-", " ").title()}}</span></div>
        <div class="collapse" id="collapse-{{category['category']}}">
        {% endif %}
        <table class="table table-bordered table-sm table-hover table-striped">
            <thead>
                <tr>
                <th scope="col" style="width: 22.5%">Moderator</th>
                <th scope="col" style="width: 22.5%">Moderated</th>
                <th scope="col" style="width: 22.5%">Accepted</th>
                <th scope="col" style="width: 22.5%">Rejected</th>
                <th scope="col" style="width: 5%">%</th>
                <th scope="col" style="width: 5%">Points</th>
                </tr>
            </thead>
            {% for moderator in category["moderators"]%}
            {% if not moderator["moderated"] == 0 or category["category"] == "overall" %}
            <tr>
                {% if moderator["moderator"] == supervisor %}
                <td><a href="https://utopian.io/@{{moderator['moderator']}}" class="supervisor">{{moderator["moderator"]}}</a></td>
                {% else %}
                <td><a href="https://utopian.io/@{{moderator['moderator']}}" class="moderator">{{moderator["moderator"]}}</a></td>
                {% endif %}
                <td>{{moderator["moderated"]}}</td>
                <td>{{moderator["accepted"]}}</td>
                <td>{{moderator["rejected"]}}</td>
                {% if moderator["percentage"] < 50 %}
                <td><span style="color: red;">{{moderator["percentage"]|round}}</span></td>
                {% else %}
                <td><span style="color: green;">{{moderator["percentage"]|round}}</span></td>
                {% endif %}
                <td>{{moderator["points"]}}</td>
            </tr>
            {% endif %}
            {% endfor %}

            {% for overall in team_performance["overall"] %}
            {% if overall["category"] == category["category"] %}
            <tr>
                <td><b>Total</b></td>
                <td><b>{{overall["moderated"]}}</b></td>
                <td><b>{{overall["accepted"]}}</b></td>
                <td><b>{{overall["rejected"]}}</b></td>
                {% if overall["percentage"] < 50 %}
                <td><span style="color: red;"><b>{{overall["percentage"]|round}}</b></span></td>
                {% else %}
                <td><span style="color: green;"><b>{{overall["percentage"]|round}}</b></span></td>
                {% endif %}
                <td><b>{{overall["points"]}}</b></td>
            </tr>
            {% endif %}
            {% endfor %}
        </table>
        </div>
    {% endfor %}
    
{% endblock %}